@model IEnumerable<Book>





<div class="container" style="margin-top:0px">
    <div class="row add">
        <a class="btn" asp-controller="Book" asp-action="Search"> <img class="img-circle" src="~/images/search.png" height="40" width="40" /></a>
        <a class="btn" asp-controller="Book" asp-action="Create"> <img class="img-circle" src="~/images/addback.png" height="40" width="40" /></a>
    </div>
    <div class="row">

        <br />
        <br />


        @foreach (Book book in Model)
        {

            
            

            <div class='col-lg-3 col-md-4 col-sm-6 portfolio-item bac'>

                <div class='card hh-100'>

                    <img class='card-img-top' src=@book.Cover height=300 alt='@book.Title'>
                    <div class='card-footer book_det btn-group'>

                        <a class="btn btn-info" asp-area="" asp-controller="Book" asp-action="Update" asp-route-id="@book.BookId">Edit</a>
                        @if (book.BorrowerId == 0)
                        {

                            <a class="btn btn-success" asp-area="" asp-controller="Lend" asp-action="LendBook" asp-route-bookId="@book.BookId">Rent</a>
                        }
                        @if (book.BorrowerId != 0)
                        {
                            <a class="btn btn-danger" asp-area="">Out</a>
                        }






                    </div>

                </div>


            </div>


        }

    </div>
     
        </div>
