@model BookEditViewModel
<div class="row orderForm">
    <form asp-controller="Book" asp-action="Remove" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Create new book</h3>
        <h2> Are You Sure?</h2>


        <div class="form-group">
            <label asp-for="Book.Title" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Book.Title" class="form-control" placeholder="Enter Book Title" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-danger" value="Yes" type="submit"/>
                <input class="btn btn-default" type="submit" value="No" asp-controller="Book" asp-action="List" />
                
            </div>
        </div>
    </form>
</div>